/* Botón con hover suave */
.boton {
    background-color: #3498db;
    transition: all 0.3s ease;
    
}

.boton:hover {
    background-color: #b92957;
    transform: rotate(-360deg);
    box-shadow: 0 5px 15px rgba(52, 152, 219, 0.6);
    color: white;
}

input {
    border: 2px solid #ddd;
    transition: all 0.5s ease;
}

input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
}